@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container {
    background-color: white;
    border: 1px solid gray;
    border-radius: 1rem;
    text-align: center;
    max-width: 340px;
    padding: 1rem;
}

.container-info {
    margin: 1rem;
}

.container-info-header {
    font-size: 22px;
    font-weight: 700;
}

.qr-code img{
    max-width: 300px;
    border-radius: 10px;
}

p {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

.attribution {
    display: none;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
